{% extends "backend/layout.html" %}
{% block content %}
<h4 class="sub-header">友链列表 | <a href="/backend/addlink">添加友链</a> </h4>
<div class="table-responsive">
<table class="table table-striped">
<thead>
<tr>
<th>#</th>
<th>名称</th>
<th>中文</th>
<th>链接</th>
<th>介绍</th>
<th>操作</th>
</tr>
</thead>
<tbody>
{%  for link in links %}
<tr>
    <td>{{ link.id }}</td>
    <td>{{ link.link_name }}</td>
    <td>{{ link.link_url}}</td>
    <td>{{ link.link_description }}</td>
    <td>
{#        <a href="/backend/deletecategory/{{ category.id }}">Del</a> |#}
        <a href="{% url 'backend.views.link_delete' link.id %}"> DEL</a>
        |
        <a href="{% url 'backend.views.link_edit' link.id %}"> EDIT</a>
    </td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
{% endblock %}